body{
    color:rgb(10, 10, 10);
    background: rgb(82, 136, 103);
    margin: 0px;
    font-family: "Comic Neue", cursive;
    margin-bottom: 1px;
}

header {
border-bottom: solid 1px rgb(82, 136, 103);
padding: 15px;
font-size: 50px; 
color: rgb(82, 136, 103);
text-align: center;
}

.chamada {
    background: rgb(82, 136, 103);
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
    text-align: center;
}

.chamada-texto{
    margin-right: 1%;
    text-align: center;
}

h1 {
    font-size: 30px;

   }

p {
    font-size: 15px;

}

.categoria-videos {
    background: rgb(82, 136, 103);
    display: flex;
    overflow-x: auto;
    gap: 2px;
    text-align: center;
padding-bottom: 1px;

}

.categoria {
    background: rgb(82, 136, 103);
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    text-align: center;
    

}

.categoria-videos img {
opacity: 0.5;
height:300px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid green;
}

.categoria h2 {
    color: rgb(5, 3, 3);
}

.chamada-texto2{
    padding-top: 1px;
    
}
